@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#filterForm::-webkit-scrollbar {
  display: none;
}

/* styles/globals.css */
.custom-scrollbar::-webkit-scroll bar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loader {
  width: 64px;
  height: 64px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #4C5270;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.review_bar {
  margin-top: 20px;
}

.rating-bars {
  margin-top: 10px;
}

.bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bar-label {
  width: 50px; /* Adjust width as needed */
  font-weight: bold;
}

.bar-fill {
  flex: 1;
  background-color: #f0f0f0; /* Background color of the bar */
  border-radius: 5px;
  overflow: hidden; /* Ensure that the filled part does not overflow */
  position: relative; /* For positioning fill percentage */
}

.fill-percentage {
  height: 100%; /* Fill the height of the bar */
  background-color: #FFC107; /* Color of the filled portion */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.custom-marker {
  position: relative;
  width:50px; /* Increased width */
  height:50px; /* Increased height */
  background-color: #ff007f; /* Pink color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-marker::after {
  content: '';
  position: absolute;
  width: 80px; /* Adjusted to match increased size */
  height: 80px; /* Adjusted to match increased size */
  background-color: rgba(176, 22, 99, 0.441); /* Lighter pink circle */
  border-radius: 50%;
  z-index: -1; /* Behind the main marker */
}

.custom-marker-icon {
  width: 20px !important; /* Adjust icon size */
  height: 20px !important; /* Adjust icon size */
}